html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d4f4fd;
    font-size: 18px;
    color: #000000;
    transition: background-color 1s, color 1s;
    background-image: url('images/pexels-leefinvrede-3678799.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 30px;
    flex: 1;
}

h1, h2 {
    color: #000000;
    font-size: 2.5rem;
}

p, ul {
    margin: 0;
}

ul {
    padding-left: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

body.dark-theme {
    background-color: #444;
    color: #ffffff;
    background-image: none;
}

body.dark-theme nav,
body.dark-theme .weather-box,
body.dark-theme .about-id,
body.dark-theme .portfolio-id,
body.dark-theme .weather-box-id {
    background-color: #333;
}

body.dark-theme nav a,
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme p,
body.dark-theme ul,
body.dark-theme li {
    color: #ffffff;
}

body.dark-theme .weather-box h3,
body.dark-theme .weather-box p,
body.dark-theme .about-id,
body.dark-theme .portfolio-id {
    color: #ffffff;
}

body.dark-theme .weather-box-id h2 {
    color: #ffffff;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    h1, h2 {
        font-size: 1.8rem;
    }

    .clock {
        font-size: 15vw;
    }
}

form, .feedback-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input[type="checkbox"] {
    margin-top: 5px;
    align-self: flex-start;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007BFF;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    color: black;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding: 10px;
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

#weather-section {
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.weather-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.weather-box {
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.weather-box h3 {
    margin-top: 0;
    font-size: 26px;
}

.weather-box p {
    margin: 8px 0;
    font-size: 22px;
}

body.dark-theme .weather-box {
    background-color: #333;
}

.clock {
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

body.dark-theme .clock {
    animation: colorChange 3s infinite;
}

@keyframes colorChange {
    0% {
        color: #ff0000;
        background-color: #ff69b4;
    }
    12.5% {
        color: #00ff00;
        background-color: #ff0000;
    }
    25% {
        color: #0000ff;
        background-color: #00ff00;
    }
    37.5% {
        color: #ffff00;
        background-color: #0000ff;
    }
    50% {
        color: #ff00ff;
        background-color: #ffff00;
    }
    62.5% {
        color: #00ffff;
        background-color: #ff00ff;
    }
    75% {
        color: #ffa500;
        background-color: #00ffff;
    }
    87.5% {
        color: #800080;
        background-color: #ffa500;
    }
    100% {
        color: #ff69b4;
        background-color: #800080;
    }
}

.about-id, .portfolio-id {
    font-size: 18px;
    text-align: left;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid #007BFF;
    padding: 15px;
    text-align: left;
    font-size: 1.2em;
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    background-color: #e7f3ff;
}

input[type="checkbox"] {
    transform: scale(1.8);
    margin: 10px;
}

.contact-id, .survey-id, .feedback-container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
}

.footer-container p {
    margin: 0;
    margin-right: 10px;
}

.github-link {
    text-decoration: none;
}

.github-logo {
    width: 28px;
    height: 28px;
    transition: transform 0.3s;
    align-items: center;
}

.github-logo:hover {
    transform: scale(1.4);
}

.about-id h1, .portfolio-id h1 {
    font-size: 24px;
}

.about-id p, .portfolio-id p {
    font-size: 20px;
}

.portfolio-id li {
    font-size: 20px;
}

.inner-box {
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    margin-top: 10px;
}

.inner-box p {
    font-size: 18px;
    color: #333;
}

.inner-box ul {
    list-style-type: disc;
    padding-left: 20px;
}

.inner-box li {
    font-size: 18px;
    color: #555;
}

.inner-box a {
    color: #007BFF;
    text-decoration: none;
}

.inner-box a:hover {
    text-decoration: underline;
}

.dark-theme .inner-box {
    color: #000000;
    background-color: #000000;
}

@media (max-width: 768px) {
    .feedback-container, .contact-id, .survey-id {
        padding: 15px;
        max-width: 80%;
    }

    .weather-container {
        flex-direction: column;
        align-items: center;
    }

    .weather-box {
        width: 90%;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.quiz-question {
    background-color: #ffffff;
}
.feedback-container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feedback-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#feedbackDisplay {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#feedbackDisplay th, 
#feedbackDisplay td {
    border: 2px solid #007BFF;
    padding: 12px;
    text-align: left;
    font-size: 1.1rem;
}

#feedbackDisplay th {
    background-color: #007BFF;
    color: white;
}

#feedbackDisplay td {
    background-color: #e7f3ff;
}

@media (max-width: 768px) {
    .feedback-container {
        padding: 15px;
    }

    #feedbackDisplay th, 
    #feedbackDisplay td {
        padding: 8px;
        font-size: 0.9rem;
    }
}

